<div class="wrapper">
    <app-nav></app-nav>
    <main class="main-content">
        <div class="form-container">
            <form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
                <!-- Campo Nombre -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('nombre')?.invalid && (cartForm.get('nombre')?.touched || cartForm.get('nombre')?.dirty)}">
                  <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre" required />
                  <i class="fa-solid fa-user"></i>
                  <div *ngIf="cartForm.get('nombre')?.invalid && (cartForm.get('nombre')?.touched || cartForm.get('nombre')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Dirección -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('direccion')?.invalid && (cartForm.get('direccion')?.touched || cartForm.get('direccion')?.dirty)}">
                  <input id="direccion" formControlName="direccion" type="text" placeholder="Dirección" required />
                  <i class="fa-solid fa-map-marker-alt"></i>
                  <div *ngIf="cartForm.get('direccion')?.invalid && (cartForm.get('direccion')?.touched || cartForm.get('direccion')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Código Postal -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('cp')?.invalid && (cartForm.get('cp')?.touched || cartForm.get('cp')?.dirty)}">
                  <input id="cp" formControlName="cp" type="text" placeholder="Código Postal" required />
                  <i class="fa-solid fa-envelope"></i>
                  <div *ngIf="cartForm.get('cp')?.invalid && (cartForm.get('cp')?.touched || cartForm.get('cp')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Localidad -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('localidad')?.invalid && (cartForm.get('localidad')?.touched || cartForm.get('localidad')?.dirty)}">
                  <input id="localidad" formControlName="localidad" type="text" placeholder="Localidad" required />
                  <i class="fa-solid fa-city"></i>
                  <div *ngIf="cartForm.get('localidad')?.invalid && (cartForm.get('localidad')?.touched || cartForm.get('localidad')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Provincia -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('provincia')?.invalid && (cartForm.get('provincia')?.touched || cartForm.get('provincia')?.dirty)}">
                  <input id="provincia" formControlName="provincia" type="text" placeholder="Provincia" required />
                  <i class="fa-solid fa-map"></i>
                  <div *ngIf="cartForm.get('provincia')?.invalid && (cartForm.get('provincia')?.touched || cartForm.get('provincia')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Teléfono -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('telefono')?.invalid && (cartForm.get('telefono')?.touched || cartForm.get('telefono')?.dirty)}">
                  <input id="telefono" formControlName="telefono" type="text" placeholder="Teléfono" required />
                  <i class="fa-solid fa-phone"></i>
                  <div *ngIf="cartForm.get('telefono')?.invalid && (cartForm.get('telefono')?.touched || cartForm.get('telefono')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo CIF -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('cif')?.invalid && (cartForm.get('cif')?.touched || cartForm.get('cif')?.dirty)}">
                  <input id="cif" formControlName="cif" type="text" placeholder="CIF" required />
                  <i class="fa-solid fa-id-card"></i>
                  <div *ngIf="cartForm.get('cif')?.invalid && (cartForm.get('cif')?.touched || cartForm.get('cif')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                </div>
              
                <!-- Campo Email -->
                <div class="input-box" [ngClass]="{'input-error': cartForm.get('email')?.invalid && (cartForm.get('email')?.touched || cartForm.get('email')?.dirty)}">
                  <input id="email" formControlName="email" type="email" placeholder="Correo Electrónico" required />
                  <i class="fa-solid fa-envelope"></i>
                  <div *ngIf="cartForm.get('email')?.hasError('required') && (cartForm.get('email')?.touched || cartForm.get('email')?.dirty)" class="error-message">
                    <small>* Este campo es obligatorio</small>
                  </div>
                  <div *ngIf="cartForm.get('email')?.hasError('email') && (cartForm.get('email')?.touched || cartForm.get('email')?.dirty)" class="error-message">
                    <small>* Por favor, ingresa un correo válido</small>
                  </div>
                </div>
              
                <!-- Botón de Enviar -->
                <button type="submit" [disabled]="cartForm.invalid">Enviar</button>
              </form>
              
        </div>
    </main>
    <app-footer></app-footer>
</div>