<div class="wrapper">
  <app-nav></app-nav>
  <main class="main-content">
    <div class="presentation">
      <div class="texto">
        <h1>{{ 'home.home-presentacion' | translate }}</h1>
        <p>{{ 'home.home-presentacion-larga' | translate }}</p>
        <a class="btn" routerLink="/cart">{{ 'home.home-presentacion-boton' | translate }}</a>
      </div>
      <div class="image">
        <img src="/assets/miel.png" alt="Imagen de Miel">
      </div>
    </div>

    <div class="informacion-grid">
      <div></div>
      <div class="informaciones informaciones-izq">
        <div appInViewport class="info1 fade-in-right">
          <div class="informaciones-titulo">{{ 'home.home-info1-titulo' | translate }}</div>
          <div class="informaciones-subtitulo">{{ 'home.home-info1-texto' | translate }}</div>
        </div>
      </div>

      <div class="informaciones informaciones-dch">
        <div appInViewport class="info1 fade-in-left">
          <div class="informaciones-titulo">{{ 'home.home-info2-titulo' | translate }}</div>
          <div class="informaciones-subtitulo">{{ 'home.home-info2-texto' | translate }}</div>
        </div>
      </div>

      <div></div>
      <div></div>

      <div class="informaciones informaciones-izq">
        <div appInViewport class="info1 fade-in-right">
          <div class="informaciones-titulo">{{ 'home.home-info3-titulo' | translate }}</div>
          <div class="informaciones-subtitulo">{{ 'home.home-info3-texto' | translate }}</div>
        </div>
      </div>

      <div class="informaciones informaciones-dch">
        <div appInViewport class="info1 fade-in-left">
          <div class="informaciones-titulo">{{ 'home.home-info4-titulo' | translate }}</div>
          <div class="informaciones-subtitulo">{{ 'home.home-info4-texto' | translate }}</div>
        </div>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
