<app-nav></app-nav>
<div class="presentation">
  <div class="texto">
    <h1>{{'home.home-presentacion'| translate}}</h1>
    <p>{{'home.home-presentacion-larga'| translate}}</p>
    <a href="#productos" class="btn">{{'home.home-presentacion-boton'| translate}}</a>
  </div>
  <div class="imagen">
    <img src="/assets/miel.png" alt="Imagen de Miel">
  </div>
</div>

<div class="img1">
  <div class="image1-container">
    <img  src="img/smartphone-1.png" alt="information-1">
  </div>
</div>

<div class="info1">
  <h1>De donde viene nuestra miel ?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla!</p>
</div>

<button (click)="switchLanguage('gal')">Galego</button>
<button (click)="switchLanguage('es')">Español</button>

<app-footer></app-footer>