* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.presentation {
  background-image: url("/assets/hexagono.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  height: 100vh;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.image {
  display: flex;
  opacity: 0;
  justify-content: center;
  animation: slideIn 2s ease-in forwards;
}

.image img {
  width: 100%;
  max-width: 30vw;
  align-items: center;
  border-top-right-radius: 50px;
  animation: slideIn 2s ease-in forwards;
}

.texto {
  flex: 1;
  display: flex;
  justify-content: center;
  color: var(--amarillo);
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.texto h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  opacity: 0;
  animation: slideIn 2s ease-in forwards;
  animation-delay: 0.3s;
}

.texto p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  opacity: 0;
  line-height: 1.6;
  animation: slideIn 1s ease-out forwards;
  animation-delay: 1.2s;
}

.texto .btn {
  background-color: var(--amarillo);
  color: var(--marron);
  padding: 15px 30px;
  opacity: 0;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  animation: slideIn 1s ease-out forwards;
  animation-delay: 2s;
}

.texto .btn:hover {
  background-color: var(--amarillo);
}

.information {
  background-image: url("/assets/hexagono2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-right: 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.fade-in-left, .fade-in-right {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1.6s ease, transform 1.6s ease;
}

/* Desde la izquierda */
.fade-in-left {
  transform: translateX(-100px);
}

.fade-in-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Desde la derecha */
.fade-in-right {
  transform: translateX(100px);
}

.fade-in-right.active {
  opacity: 1;
  transform: translateX(0);
}
.img1 {
  display: flex;
  opacity: 0;
  justify-content: center;
}


/* Imagen flotante a la izquierda */
.img1 img {
  width: 100%;
  max-width: 30vw;
  align-items: center;
  border-top-right-radius: 50px;
}


/* Estilos para el contenedor .info1 */
.info1 {
  color: var(--amarillo);
  padding: 20px;
  max-width: 60%;
  background-color: var(--marron);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

/* Estilos del título en .info1 */
.info1 h1 {
  font-size: 24px;
  color: var(--amarillo);
  margin-bottom: 15px;
}

/* Estilos del párrafo en .info1 */
.info1 p {
  font-size: 14px;
  color: var(--amarillo);
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Estilos responsivos */
@media (max-width: 768px) {

  .img1,
  .info1 {
    width: 100%;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .img-float-left {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  .info1 h1 {
    font-size: 20px;
  }

  .info1 p {
    font-size: 13px;
  }
}