<app-nav></app-nav>
<div class="presentation">
  <div class="texto">
    <h1>Bienvenido a nuestra tienda de Miel</h1>
    <p>Descubre la dulzura natural en cada frasco. Nuestra miel es 100% orgánica y directamente de la colmena.</p>
    <a href="#productos" class="btn">Explora nuestros productos</a>
  </div>
  <div class="imagen">
    <img src="/assets/miel.png" alt="Imagen de Miel">
  </div>
</div>
<div class="info1">
  <div class="texto1">
    <h1>De donde viene nuestra miel ?</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
       Impedit accusamus cumque odio, unde odit maxime similique ullam repudiandae libero earum blanditiis officia placeat? Iste doloremque fugit sit a esse asperiores.</p>
  </div>
  <div class="img1">
    <img src="/assets/mmiel.png" alt="Imagen informativa">
  </div>
</div>


<app-footer></app-footer>