.fondo{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100VW;
}

.cart {
  padding-top: 70px;
  display: grid;
  margin:0 5%;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: calc(100vh - 250px);
  height: auto;
}
.payment {
  width: 80%;
  height: 400px;
  border: 1px solid #ddd;
  padding: 50px;
  color: var(--amarillo);

}

.product-summary {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 10px 0;
}

.quantity button {
  padding: 5px 10px;
  cursor: pointer;
  background: var(--marron);
  color: var(--amarillo);
  border: none;
  border-radius: 5px;
}

.quantity button:hover {
  background: darken(var(--marron), 10%);
}
.total-container{
  border: 1px solid #ddd;
  height: 400px;
  padding: 50px;
  color: var(--amarillo);

}