:host {
    display: block;
}
.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: var(--marron);
    color: var(--amarillo);
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-info p {
    font-size: 1.2em;
    margin: 5px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.footer-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: var(--amarillo);
    text-align: center;
    transition: .1s;
}

.footer-links>a>i {
    color: var(--marron);
    line-height: 40px;
    font-size: 20px;
}

.footer-links a:hover {
    background: var(--amarillo);
    color: var(--marron);
    transform: scale(1.2);
}

.footer-info {
    flex: 1;
}

.footer-links {
    flex: 1;
    text-align: center;
}

@media (max-width: 590px) {
    #footer{
        height: 300px;
    }
    .footer-info{
        font-size: 0.9em;
    }
  }

@media (max-width: 540px){

    .footer{
        height: 250px;
    }

}