/* Estilo para campos con error */
.input-error input,
.input-error textarea {
    border: 2px solid red;
    /* Borde rojo para los campos inválidos */
    background-color: #fdd;
    /* Fondo rojo claro */
}

.input-error input:focus,
.input-error textarea:focus {
    border-color: darkred;
    /* Cambio de borde cuando el campo está enfocado */
}

.input-error i {
    color: red;
    /* Icono en rojo si el campo tiene error */
}

.error-message {
    color: red;
    font-size: 18px;
    font-weight: 900;
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: auto;
    padding: 20px;
    gap: 10px;
    width: 1000px;
    margin-top: 100px;
}

.box-info {
    color: var(--amarillo);
    background-color: rgba(58, 54, 43, 0.75);
    padding: 20px;
    border-radius: 5px;
    font-size: bolder;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-info>h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.data>p {
    font-size: 1rem;
    color: var(--amarillo);
}

.data>p>i {
    color: var(--amarillo);
    margin-right: 10px;
    font-size: 25px;
}



.links {
    display: flex;
    gap: 15px;
}

.links>a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: var(--amarillo);
    text-align: center;
    transition: .1s;
}

.links>a>i {
    color: var(--marron);
    line-height: 40px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-box {
    position: relative;
}

.input-box>input {
    width: calc(100% - 25px);
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: var(--marron);
    border: 3px solid transparent;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: .3s;
    color: var(--amarillo);

}

button {
    cursor: pointer;
}

.input-box>input::placeholder,
.input-box>textarea::placeholder {
    color: var(--amarillo);

}

.input-box>input:focus::placeholder,
.input-box>textarea:focus::placeholder {
    color: transparent;
}

.input-box>input:focus,
.input-box>textarea:focus {
    border-bottom: 3px solid var(--marron);
    animation: shake .2s;
}

.input-box>textarea {
    width: calc(100% - 25px);
    height: 130px;
    padding: 10px;
    background: var(--marron);
    border: 3px solid transparent;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: var(--amarillo);
    letter-spacing: 1.5px;
}


.input-box>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box>input:focus~i {
    color: var(--marron)
}

form>button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: var(--marron);
    border-radius: 5px;
    color: var(--amarillo);
    border: none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
}

form>button:hover,
.links>a:hover {
    background: var(--marron);
    color: var(--amarillo);
}
.links>a:hover>i{
    transform: scale(1.2);
}
form>button:hover,
.links>a:hover>i {
    color: var(--amarillo);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}


@media screen and (max-width:850px) {
    .container {
        margin: 0 auto;
        margin-top: 100px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .box-info {
        gap: 15px;
        align-items: center;
    }

    .container>form {
        width: 100%;
    }

    .box-info>h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .input-box>input:focus,
    .input-box>textarea:focus {
        animation: none;

    }
}