:root{
    --amarillo:#FDB300;
    --marron:#3A362B;
    --blanco:#FFFFFF;
    --gris:#F1F1F1;
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
